/* Font Style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*---- Common --- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

/*---- Banner Sryle ------- */
section{
    margin-bottom: 60px;
}
.top-banner{
    background-color: #2D25A0;

}
.banner-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.banner-area img{
    width: 556px;
    margin-top: 100px;
}

.banner-area h1{
    color: #FFFFFF;
    width: 485px;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    margin-left: 100px;
    margin-top: 100px;
}
.banner-text a {
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    opacity:1 ;
    transition: 0.5s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: 100px;
    border-radius: 10px;
    margin-top: 10px;
}
.banner-text a :hover{
    opacity: 1 ;

}
/************ Banner Style End ************ */



.player-main-div {
    box-shadow: 2px 2px 2px 2px #ebe5e5;
    border-radius: 5%;
    padding: 20px 20px 20px 20px;
    width: 290px;
    height: 400px;
    margin-left: 88px;
    border-style: none;
    background-color: lavender;
   margin-bottom: 50px;
   

}
.player-main-div  b{
    font-size: 25px;
}
.all-players{
   
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   
   
}
.container-section img{

    width: 100%;
    border-radius: 15px;
}
        /*****************
                Main Section Style End 
                        **************************/

                        /* Footer Style Start  */

   footer{
       text-align: center;
       margin-top: 70px;

  }                     
                         
.footer-logo{
     width: 100%;
     height: auto;
 }

.footer img{       
    width: 483px; 
    height: 110px;              
} 
.social-icon{
    padding: 20px 0;
}  
.social-icon  i {
    padding: 7.5px 0;
    color: #969bab;
  }
  footer p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 40px;
  }  
  
  /*************************
        Footer Style End
   ***************************/




/*----------------------- 
This is media query
----------------------- */
@media only screen and (max-width:688px) {
    .top-banner{
        width: 100%;
    }
    .all-players{
        
        grid-template-columns: repeat(1, 1fr) ;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    .footer-logo{
        grid-template-columns: repeat(1, 1fr);

    }
    .footer-logo img{
width:50%;
    
}
.top-banner img{
    grid-template-columns: repeat(1, 1fr);
    width: 400px;
}
.banner-text h1{
    margin-left: 10px;
}
   .banner-area{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   }

   html,body {
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    overflow-x: hidden;
    
}
}


 /*----------------------------------------- 
  This is hover style
 --------------------------------------- */
 .single-photo:hover .photo{
    transform: scale(0.5);
    transition: transform 2s;

}
.single-photo:hover{
   
    background-color: transparent;
}
.single-photo {
    
    width: 500px;
    height: 500px;
    border-radius: 10px;
   
    margin: 15px;
    overflow: hidden;

}

.photo img {
    width: 100%;
    

}
/* -------------------------
 hover style end
--------------------------- */